server:
  port: 8084

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
#      routes:
#        - id: STUDENT-SERVICE
#          uri: lb://STUDENT-SERVICE
#          predicates:
#            - Path=/student/**
#          filters:
#            - RewritePath=/student/(?<segment>.*), /${segment}
#        - id: course-service
#          uri: lb://COURSE-SERVICE
#          predicates:
#            - Path=/course/**


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost

